.Header {
  padding: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
}

.Header .input {
  background: #2d315d;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  border-radius: 0.3em;
}

.Header input {
  background: #2d315d;
  border: none;
  padding: 1em;
  width: 20em;
  outline: none;
  color: #e5e5e5;
}

.Header input::placeholder,
.Header .input:first-child {
  color: #7e85b0;
}

.spin {
  display: block;
  width: 1em;
  height: 1em;
  margin: 1.5em auto;
  border: 0.15em solid transparent;
  border-radius: 50%;
  border-top-color: #ec714a;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
