.Timeline {
  background-image: linear-gradient(to bottom right, #30345f, #1f2344);
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  border-radius: 0.5em 0.5em 0 0;
  width: 100%;
}

.Timeline .years {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75%;
  align-items: center;
}

.Timeline .year {
  display: flex;
  flex-direction: column;
  min-height: 5em;
}

.Timeline .year:last-child {
  min-height: 0;
}

.Timeline .repo {
  width: 44%;
  max-width: 40em;
}

.Timeline .repo:nth-child(even) {
  align-self: flex-end;
}

.Timeline .repo:nth-child(odd) {
  text-align: right;
}

/* .Timeline .repo:nth-child(even)::before {
  height: 1em;
  width: 1em;
  background: #fff;
}

.Timeline .repo:nth-child(odd)::after {
  height: 1em;
  width: 1em;
  background: #fff;
} */

.Timeline h3 {
  margin: 0;
}

.Timeline .repo-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.Timeline .repo:nth-child(odd) > .repo-title {
  justify-content: flex-end;
}

.year-label {
  align-self: center;
}

.Timeline a.link {
  background: #4678ff;
  text-decoration: none;
  color: #e5e5e5;
  padding: 0.3em 0.4em;
  border-radius: 0.2em;
}
