.Timeline {
  background-image: linear-gradient(to bottom right, #30345f, #1f2344);
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em 0.5em 0 0;
  width: 100%;
}

.Timeline .years {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.Timeline .year {
  display: flex;
  flex-direction: column;
  min-height: 5em;
  width: 100%;
  border-top: #e5e5e550 dashed 0.1em;
  margin-bottom: 2em;
  align-items: center;
}

.Timeline .year > div {
  display: flex;
  flex-direction: column;
}

.Timeline .year:last-child {
  min-height: 0;
}

.Timeline .repo {
  width: 44%;
  max-width: 40em;
}

.Timeline .repo:nth-child(even) {
  align-self: flex-end;
}

.Timeline .repo:nth-child(odd) {
  text-align: right;
}

.Timeline h3 {
  margin: 0;
}

.Timeline .repo-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.Timeline .repo:nth-child(odd) > .repo-title {
  justify-content: flex-end;
}

.year-label {
  align-self: center;
  position: relative;
  bottom: 0.7em;
}

.Timeline a.link {
  background: #4678ff;
  text-decoration: none;
  color: #e5e5e5;
  padding: 0.3em 0.4em;
  border-radius: 0.2em;
}

.Timeline a.link:hover {
  background: #ec714a;
}

.Timeline h1 a {
  border-bottom: #ec714a solid 0.2em;
  text-decoration: none;
  color: #e5e5e5;
}

.Timeline h1 a:hover {
  border-bottom: #4678ff solid 0.2em;
}
