@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans&display=swap");

body {
  color: #e5e5e5;
  font-family: "Work Sans";
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: #1f2344;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spin {
  display: block;
  width: 2em;
  height: 2em;
  margin: 1.5em auto;
  border: 0.15em solid transparent;
  border-radius: 50%;
  border-top-color: #ff8800;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

.Error {
  position: absolute;
  top: 1em;
  right: 1em;
}
