@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans&display=swap");

body {
  background-image: linear-gradient(to bottom right, #30345f, #1f2344);
  color: #E5E5E5;
  font-family: "Work Sans";
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.spin {
  display: block;
  width: 2em;
  height: 2em;
  margin: 1.5em auto;
  border: 0.15em solid transparent;
  border-radius: 50%;
  border-top-color: #ff8800;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
